@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: android;
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
*{
    margin: 0%;
    padding: 0%;
}
:root{
    
--cor0: #c5ebd6;
--cor1: #83e1ad;
--cor2: #3ddc84;
--cor3: #2fa866;
--cor4: #063d1e;

--font-padrao: arial, verdana, helvetica, sans-serif;
--font-destaque: 'Bebas Neue', cursive;
--font-andorid: 'android', cursive;
}
main a{
    color: black;
    padding: 2px 6px;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--cor2);
    padding: 2px 6px;
}
main a:hover{
    color: var(--cor3);
    text-decoration: underline;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
    

}
main p{
    margin: 15px 0px ;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
body{
    background-color: wheat;
    font-family: var(--font-padrao);
}   
a.externo::after{
    content: '\1F517';    ;
}
div.video{
    background-color: #3ddc84;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58.5%;

    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;

}
header > h1{
    font-weight: normal;
    text-shadow: -2px -2px 10px rgba(0, 0, 0, 0.445);
    margin-bottom: 10px;
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;

}
header > p{
    text-shadow: -2px -2px 10px rgba(0, 0, 0, 0.445);
    margin: auto;
    max-width: 600px;
    font-size: 1.2em;
    font-family: var(--font-padrao);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
main{
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    min-width: 320px;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
nav{
    
    background-color:var(--cor4);
    padding: 10px;
    text-shadow: 1px 2px 9px black;
}
nav > a{
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition-duration: .5s;
}
nav > a:hover{
    
    color: var(--cor4);
    background-color: var(--cor1);
}

main h1 {
    font-size: 1.8em;
    font-weight: normal;
    background-color: white;
    color: var(--cor4);
    font-family: var(--font-andorid);

}
main h2{
    font-weight: normal;
    text-indent: 8px;
    font-size: 1.3em;
    color: var(--cor4);
    font-family: var(--font-andorid);
    background-image: linear-gradient(to right, var(--cor2), transparent);
}
 img{
    width: 100%;
}
footer{
    text-align: center;
    background-color: var(--cor4);
    color: rgb(162, 162, 162);
    font-size: 0.8em;
    padding: 5px;
}
/* Como fazer o bloquinho de quer aprender mais */
aside{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.289);
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    

}
aside > h3{
    
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    /*margin negativa*/
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    

}
/*Fim*/
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor2);
}
.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
li > abbr{
    text-decoration: none;
}